{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>I'll be back!.</p>
<div><iframe width="500px" tit"Film Locations in San Francisco" height="425px" src="https://data.sfgov.org/w/yitu-d5am/ikek-yizv?cur=PHS6IE3lnPt&from=root" frameborder="0"scrolling="no"><a href="https://data.sfgov.org/Culture-and-Recreation/Film-Locations-in-San-Francisco/yitu-d5am" title="Film Locations in San Francisco" target="_blank">Film Locations in San Francisco</a></iframe><p><a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a></p></div>

{% endblock %}
