{% extends "app/layout.html" %}

{% block content %}
<style type="text/css">
  #map { height: 100%; }
</style>
<div class="jumbotron">
	<div id="map">
		
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	var map;
	function initMap()
	{
		map = new google.maps.Map(document.getElementById('map'),
		{
			center : {lat:-34.397, lng:150.644},
			zoom:8
		});
	}
	</script>
    	<script async defer
      	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHCorcknFZceqyiJKUwcI4z3OXGa4FmRI&callback=initMap">
    	</script>
	
{% endblock %}
